body{
    margin: 0;
}

h1{
    font-size: 28.85px;
    font-family: 'Epilogue';
    font-weight: 600;
    color: #1B3168;
}

h2{
    font-size: 24px;
    font-family: 'Epilogue';
    font-weight: 600;
    color: #1B3168;
}

p{
    font-size: 16px;
    font-family: 'Epilogue';
    font-weight: 400;
}

a{
    text-decoration: none;
}

form{
    display: grid;
}

label{
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 500;
    color: #212B36;
    margin-bottom: 15px;
}

.content-bloc{
    width: 883px;
    line-height: 25px;
    margin: 30px 0 0 50px;
}

@media screen and (max-width: 1436px) {
    .content-bloc{
        margin: 30px 0 0 25px;
    }
}

/************************************HEADER*******************************/
header{
    background-color: #004c6c;
    border-radius: 15px;
    height: 67px;
    width: 98%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: -20px;
}

.logo-mentalworks img{
    width: 200px;
    padding-left: 15%;
}

.burger-menu{
    display: none;
}

.menu {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: white;
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px 0 0 10px;
    padding: 20px;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.menu a {
    display: block;
    text-decoration: none;
    padding-top: 40px;
    text-align: center;
    color: #637381;
    font-size: 18px;
    font-family: 'Inter';
    font-weight: 500;
}

.menu.show {
    transform: translateX(0);
}

.close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px; 
    font-weight: bold; 
    cursor: pointer;
    color: #004c6c;
}

.background-gray{
    background-color: #b4c4cf;
    position: relative;
    z-index: -1;
    width: 96.5%;
    margin: 0 auto;
    height: 50px;
    border-radius: 15px;
    bottom: -16px;
}

@media screen and (max-width: 1436px) {
    .burger-menu{
        display: flex;
        margin-left: auto;
        padding-right: 5%;
        cursor: pointer;
    }

    .burger-menu img{
        width: 45px;
    }
}
/* --------------------------------SIDEBAR MANAGER-COLLABORATEUR------------------------------------------------- */

.sidebar { 
    width: 280px;
    box-shadow: 10px 0px 20px 0 #5C73A012;
    min-height: 901px;
}

.character-menu{
    display: flex;
    align-items: center;
    padding-left: 30px;
    position: fixed;
    bottom: 40px;
}

.character-menu img{
    width: 49px;
    border-radius: 40px;
    margin-top: 10px;
}

.info-employe p{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    color: #111928;
    margin-bottom: 7px;
}

.info-employe span{
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    color: #637381;
}

.content-menu{
    margin-top: 25px;
}

.content-menu a {
    display: block;
    text-decoration: none;
    color: #637381;
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 500;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0px 15px 30px;
}

.other-menu a:hover {
    color: #0066cc;
    border-right: 4px solid #0066cc;
    background-color: #cdcdf921;
    padding-top: 10px;
    padding-bottom: 15px;
}

.number-requests {
    background-color: #004C6C14;
    padding: 5px 14px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter';
    color: #004C6C;
}

@media screen and (max-width: 1436px) {
    .sidebar{
        display: none;
    }
}

/* -----------------------CONNEXION--------------------------------- */
.bloc {
    display: flex;
}

#email {
    background: url(./PNG/email.png) no-repeat left center;
    background-size: 17px;
    padding: 12px 16px 12px 40px;
    width: 95%;
    max-width: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #9CA3AF;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    background-position: 17px; 
}

.password-label {
    display: block;
    margin: 20px 0 0 0px;
    width: 95%; 
    max-width: 350px; 
}

.password-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.input-field {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    width: 20px;
    cursor: pointer;
}

.mdp-forgot{
    color: #004C6C;
}

button[type="submit"] {
    background-color: #004C6C;
    border: none;
    color: white;
    height: 50px;
    border-radius: 6px;
    padding: 13px 28px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Inter';
    margin-top: 20px;
    cursor: pointer;
    width: 250px;
}


.error{
    color: red;
    font-size: 15px;
    font-family: 'Epilogue';
    font-weight: 500;
    white-space: nowrap; 
    margin: 10px 0 0 10px;
}

.message.green {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    font-size: 18px;
    font-family: 'Inter';
    font-weight: 500;
    width: 89%;
    padding: 3%;
}

/* ---------------------------MDP OUBLIE--------------------------------------- */

.click{
    color:#004C6C;
    font-weight: 600;
    text-decoration:none;
}

.btn-submit-mdp{
    background-color: #004C6C;
    color:white;
    padding-top: 13px;
    padding-right:28px;
    padding-left: 28px;
    padding-bottom: 13px;
    border-radius: 6px;
    width:300px;
    border:none;
    cursor: pointer;
    height: 50px;
}

/* --------------------------ACCUEIL-------------------------------------------- */
.separator {
    border: none;
    border-top: 1px solid #d1d5db;
    width: 80%;
    margin: 30px auto;
}

.timeline {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 230px;
    margin-top: 60px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 2px solid #004b6b;
    background-color: white;
    color: #004b6b;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Inter';
}

.active {
    background-color: #004b6b;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter';
}

.line {
    height: 2px;
    width: 595px;
    background-color: #004b6b;
    position: absolute;
    top: 405px;
    z-index: -1;
}

.step:not(:last-child) .line {
    transform: translateX(50%);
}

.text {
    margin-top: 5px;
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 500;
}

.name-steps{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 50px;
    justify-content: center;
    margin-top: 20px;
}

.name-step{
    background-color: #004C6C0D;
    align-content: center;
    padding: 15px 20px;
    border-radius: 7px;
}

.name-step p{
    width: 204px;
    align-content: center;
}

.mail-mentalworks{
    margin-top: 50px;
}

.mail-mentalworks a{
    color :#004C6C;
}

@media screen and (max-width: 925px) {
    .content-timeline{
        display: flex;
        gap: 40px;
        align-items: center;
    }

    .timeline {
        display: grid;
        gap: 75px;
        margin-top: 0px;
        justify-content: left;
    }

    .name-steps{
        display: grid;
        margin-top: 0px;
    }

    .line {
        display: none;
    }
}

@media screen and (max-width: 410px) {
    .timeline {
        gap: 140px;
    }

    .name-step p{
        width: 100px;
        align-content: center;
    }
}

/* ---------------------------------ACCUEIL2 POUR MANAGER---------------------------------------------------------- */

details {
    display: block;
    text-decoration: none;
    color: #637381;
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 500;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0px 15px 30px;
    border: none;
    position: relative; 
}

details a:hover{
    color: #004C6C;
}

details summary {
    list-style: none;
    cursor: pointer;
    display: flex;
    padding-right: 30px;
}

details summary::after {
    content: "⯆";
    background-size: contain;
    width: 12px; 
    height: 12px;
    position: absolute;
    right: 15px; 
    transition: transform 0.2s ease-in-out;
}

.choix{
    margin-top: 15px;
}

/* --------------------NOUVELLE DEMANDE----------------------------------------- */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

input#jours-demandes, #date-fin, #date-debut, button.upload-btn, select#type-demande {
    background-size: 17px;
    padding: 12px 16px 12px 20px;
    width: 150%;
    max-width: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #9CA3AF;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    background-position: 17px;
    cursor: pointer;
}

input#jours-demandes{
    background-color: #F3F4F6 
}

button.upload-btn{
    background-color: white;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
}

button.upload-btn img{
    width: 16px;
}

textarea {
    background-size: 17px;
    width: 100%;
    max-width: 730px;
    padding: 20px;
    height: 186px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #9CA3AF;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    background-position: 17px;
}

.form-row{
    display: flex;
    gap: 140px;
}

@media screen and (max-width: 800px) {
    .form-row{
        display: grid;
        gap: 0px;
    }

    input#jours-demandes, #date-fin, #date-debut, button.upload-btn, select#type-demande {
        width: 95%;
    }

    textarea{
        width: 95%;
    }
}

/* --------------------------------------------DEMANDE ENVOYE-------------------------------------------------------- */
.demande-conge-envoye {
    display: grid;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

.demande-conge-envoye p{
    font-size: 25px;
    font-family: 'Epilogue';
    font-weight: 600;
    color: green;
    margin-bottom: 50px;
}

.demande-conge-envoye a{
    font-size: 25px;
    font-family: 'Epilogue';
    font-weight: 500;
}

/* ----------------------------------------------HISTORIQUE DES DEMANDES-------------------------------------------- */
.content-bloc2{
    margin: 30px 0 0 50px;
    overflow-x: auto;
}

.text-and-arrow {
    display: flex;
    align-items: center;
    gap: 15px; 
}

.text-and-arrow p{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    color: #344054;
}

.arrow{
    display: grid;
}

.arrow img {
    width: 10px; 
    height: auto;
}

.arrow-top{
    transform: rotate(-90deg);
    cursor: pointer;
}

.arrow-bottom{
    transform: rotate(90deg);
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-top: 20px;
    border-radius: 12px;
}

th, td {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 16px 20px;
    text-align: left;
}

td{
    font-size: 14px;
    font-family: 'Inter';
    color: #475467;
    font-weight: 400;
}

thead{
    background-color: #F9FAFB;
}

thead input{
    padding: 10px 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
}

th input {
    width: 187px;
}

.details-btn {
    background-color: #EAECF0;
    color: white;
    border: none;
    padding: 13px 28px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    color: #475467;
    font-weight: 500;
    font-family: 'Inter';
}

@media screen and (max-width: 1600px) {
    th, td {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 16px 7px;
        text-align: left;
    }
}

@media screen and (max-width: 1330px) {
    table {
        width: 700px;
    }
}

@media screen and (max-width: 1436px) {
    .content-bloc2{
        margin: 30px 0 0 25px;
    }
}

@media screen and (max-width: 500px) {
    table {
        width: 400px;
    }

    .details-btn{
        padding: 10px 16px;
    }
}

/* ---------------------------------------------------------------TYPE DE DEMANDES MANAGER------------------------------------------------------------------------------------ */
.flex{
    display: flex;
    align-items: center;
    gap: 20px;
}

.flex a{
    background-color: #004C6C;
    border: none;
    color: white;
    height: 40px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Inter';
    cursor: pointer;
    width: 272px;
    text-align: center;
    align-content: center;
    cursor: pointer;
}

.type-de-demandes{
    width: 587px;
    height: 44px;
}

.demandes-associees{
    width: 150px;
    height: 44px;
}

@media screen and (max-width: 620px) {
    .flex{
        display: grid;
        align-items: center;
        gap: 0px;
    }   
}

/* ----------------------------------AJOUT TYPE DE DEMANDES-------------------------------------------------------------------- */

.input-type{
    padding: 12px 16px 12px 20px;
    width: 95%;
    max-width: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #9CA3AF;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

.two-buttons-type2{
    display: flex;
}

.two-buttons-type2 .btn-remove{
    background-color: #E10E0E;
    padding: 13px 28px;
    width: 136px;
}

.two-buttons-type2 .btn-update{
    padding: 13px 28px;
    width: 153px;
    margin-left: 20px;
}

@media screen and (max-width: 360px) {
    .two-buttons-type2{
        display: grid;
    }

    .two-buttons-type2 .btn-update{
        width: 136px;
        margin-left: 0px;
    }
}
