body{
    margin: 0;
}

h1{
    font-size: 28.85px;
    font-family: 'Epilogue';
    font-weight: 600;
    color: #1B3168;
}

h2{
    font-size: 24px;
    font-family: 'Epilogue';
    font-weight: 600;
    color: #1B3168;
}

p{
    font-size: 16px;
    font-family: 'Epilogue';
    font-weight: 400;
}

a{
    text-decoration: none;
}

.content-bloc{
    width: 883px;
    line-height: 25px;
    margin: 30px 0 0 50px;
}

/************************************HEADER*******************************/
header{
    background-color: #004c6c;
    border-radius: 15px;
    height: 67px;
    width: 98%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: -20px;
}

.logo-mentalworks img{
    width: 200px;
    padding-left: 15%;
}

.burger-menu{
    display: none;
}

.menu {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: white;
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px 0 0 10px;
    padding: 20px;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.menu a {
    display: block;
    text-decoration: none;
    padding-top: 50px;
    text-align: center;
    color: #637381;
    font-size: 22px;
    font-family: 'Inter';
    font-weight: 500;
}

.menu.show {
    transform: translateX(0);
}

.close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px; 
    font-weight: bold; 
    cursor: pointer;
    color: #004c6c;
}

.background-gray{
    background-color: #b4c4cf;
    position: relative;
    z-index: -1;
    width: 96.5%;
    margin: 0 auto;
    height: 50px;
    border-radius: 15px;
    bottom: -16px;
}

@media screen and (max-width: 940px) {
    .burger-menu{
        display: flex;
        margin-left: auto;
        padding-right: 5%;
        cursor: pointer;
    }

    .burger-menu img{
        width: 45px;
    }

    .content-bloc{
        margin: 30px 0 0 20px;
    }
}

/* -----------------------CONNEXION--------------------------------- */
.bloc {
    display: flex;
}

.sidebar { 
    width: 280px;
    height: 901px; 
    box-shadow: 10px 0px 20px 0 #5C73A012;
}

.content-menu{
    margin-top: 25px;
}

.content-menu a {
    display: block;
    text-decoration: none;
    color: #637381;
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 500;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0px 15px 30px;
}

.content-menu a:hover {
    color: #0066cc;
    border-right: 4px solid #0066cc;
    background-color: #cdcdf921;
    padding-top: 10px;
    padding-bottom: 15px;
}

form{
    display: grid;
}

label{
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 500;
    color: #212B36;
    margin-bottom: 15px;
}

#email {
    background: url(./PNG/email.png) no-repeat left center;
    background-size: 17px;
    padding: 12px 16px 12px 40px;
    width: 95%;
    max-width: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #9CA3AF;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    background-position: 17px; 
}

.password-label {
    display: block;
    margin: 20px 0 0 0px;
    width: 95%; 
    max-width: 350px; 
}

.password-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.input-field {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    width: 20px;
    cursor: pointer;
}

.mdp-forgot{
    color: #004C6C;
}

button[type="submit"] {
    background-color: #004C6C;
    border: none;
    color: white;
    height: 50px;
    border-radius: 6px;
    padding: 13px 28px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Inter';
    margin-top: 20px;
    cursor: pointer;
}

@media screen and (max-width: 940px) {
    .sidebar{
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .content-bloc-connexion{
        margin: 30px 0 0 20px;
    }
}

/* ---------------------------MDP OUBLIE--------------------------------------- */


/* --------------------------ACCUEIL-------------------------------------------- */
.separator {
    border: none;
    border-top: 1px solid #d1d5db;
    width: 80%;
    margin: 30px auto;
}

.timeline {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 230px;
    margin-top: 60px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 2px solid #004b6b;
    background-color: white;
    color: #004b6b;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Inter';
}

.active {
    background-color: #004b6b;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter';
}

.line {
    height: 2px;
    width: 595px;
    background-color: #004b6b;
    position: absolute;
    top: 405px;
    z-index: -1;
}

.step:not(:last-child) .line {
    transform: translateX(50%);
}

.text {
    margin-top: 5px;
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 500;
}

.name-steps{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 50px;
    justify-content: center;
    margin-top: 20px;
}

.name-step{
    background-color: #004C6C0D;
    align-content: center;
    padding: 15px 20px;
    border-radius: 7px;
}

.name-step p{
    width: 204px;
    align-content: center;
}

.mail-mentalworks{
    margin-top: 50px;
}

.mail-mentalworks a{
    color :#004C6C;
}

@media screen and (max-width: 1230px) {
    .content-timeline{
        display: flex;
        gap: 40px;
        align-items: center;
    }

    .timeline {
        display: grid;
        gap: 75px;
        margin-top: 0px;
        justify-content: left;
    }

    .name-steps{
        display: grid;
        margin-top: 0px;
    }

    .line {
        display: none;
    }
}

@media screen and (max-width: 410px) {
    .timeline {
        gap: 140px;
    }

    .name-step p{
        width: 100px;
        align-content: center;
    }
}

/* --------------------NOUVELLE DEMANDE----------------------------------------- */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

input#jours-demandes, #date-fin, #date-debut, button.upload-btn, select#type-demande {
    background-size: 17px;
    padding: 12px 16px 12px 20px;
    width: 150%;
    max-width: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #9CA3AF;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    background-position: 17px;
    cursor: pointer;
}

input#jours-demandes{
    background-color: #F3F4F6 
}

button.upload-btn{
    background-color: white;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
}

button.upload-btn img{
    width: 16px;
}

textarea {
    background-size: 17px;
    width: 100%;
    max-width: 730px;
    padding: 20px;
    height: 186px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #9CA3AF;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    background-position: 17px;
}

.form-row{
    display: flex;
    gap: 140px;
}

@media screen and (max-width: 1030px) {
    .form-row{
        display: grid;
        gap: 0px;
    }

    input#jours-demandes, #date-fin, #date-debut, button.upload-btn, select#type-demande {
        width: 95%;
    }

    textarea{
        width: 95%;
    }
}